@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Lato', system-ui, sans-serif;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(190 24 93 / var(--tw-bg-opacity));
  margin: 0;
  padding: 0;
}
